<%- partial('_partial/head') %>
<body>
<div class="cube-body" style="background-image: url(/images/background.png);  background-attachment: inherit;
background-repeat: repeat-y;background-size: 1920px;
                                  background-position: center;">
    <%- partial('_partial/menu') %>
    <%- partial('_partial/header') %>
    <div class="cube-content" style="opacity:0.9">
        <div class="cube-left">
            <%- body %>
        </div>
        <div class="cube-right">
            <%- partial('_partial/sidebar') %>
        </div>
    </div>
</div>
<footer class="cube-footer">
    <%- partial('_partial/footer') %>
</footer>
<!-- inject:script -->
<script src="<%- url_for('js/script.js') %>"></script>
<!-- endinject -->
<div class="cube-loading out"></div>
</body>
</html>